.container {
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    overflow:hidden;
}

@media only screen and (min-width:651px) {
    .container {
        width:100%;
        height:100%;
    }
}

.image-builder__container {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    position:relative;
}
    .image-builder__container > * {
        display:flex;
        flex-direction:column;
    }

@media only screen and (max-width:650px) {
    .image-builder__container {
        flex-direction:column;
        margin:30px 0;
    }
}

#image-builder {
    width:512px;
    max-width:100%;
    /* background:#0C0C0C;
    border:2px solid #f7931a; */
    position:relative;
    image-rendering:pixelated;
    align-self:center;
}
    #image-builder:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    .trait-cont {
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
    }
        .trait-cont img {
            display:block;
            width:100%;
        }
        .trait-cont img[src=""] {
            display: none;
        }

@media only screen and (max-width:650px) {
    #image-builder {
        width:256px;
    }
}

#trait-picker {
    width:250px;
    row-gap:30px;
}
    #trait-picker label {
        text-align:left;
    }
        #trait-picker label[for="hair"],
        #trait-picker label[for="clothes"] {
            display:flex;
            column-gap:1.5rem;
        }

@media only screen and (max-width:650px) {
    #trait-picker {
        width:100%;
        position:relative;
        top:initial;
        right:initial;
    }
}

.image-builder__footer {
    display:flex;
    width:100%;
    align-items:center;
    justify-content:center;
    margin-top:30px;
    gap:30px;
}

#image-final {
    width:1024px;
    height:1024px;
    position:absolute;
    left:200%;
}

/* Select2 */
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__rendered {
    height:45px;
    line-height:45px;
    border-radius:0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height:45px;
}

/* .select2-container--default .select2-selection--single {
    background:#0C0C0C;
    border:2px solid #f7931a;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color:#f7931a;
    font-weight:bold;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #4a4a4a;
    font-weight:normal;
} */

.select2-results__option span {
    display:flex;
    align-items:center;
}
    .select2-results__option img {
        display:block;
        width:30px;
        height:30px;
        margin-right:10px;
    }

/* .select2-dropdown {
    background:#0C0C0C;
    border:2px solid #f7931a;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #f7931a transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #f7931a transparent;
}

.select2-container--default .select2-results__option--selected,
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color:#f7931a;
    color:#0C0C0C;
} */